<h2>The Note Lists</h2>
<div class="row">
    <div class="noteLists">
        <ul class="noteList" id="note-list">
            {{#each todoItems}} {{> todo_item }} {{/each}}
        </ul>
    </div>
</div>
