<h2>Create A New Note</h2>
<a class="noteListPage" href="/">Note List</a>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <form id="new-item-form">
            <label>Note Title <input id="new-note-name" type="text" ></label>
            <label>Note Due Date <input id="new-note-due-date" type="date" ></label>
            <label>Note Summary <input id="new-note-summary" type="text" ></label>
            <label>Note Body <textarea id="new-note-body"></textarea></label>
            <input type="submit" value="Add New Note" >
        </form>
    </div>
</div>

<div class="alert alert-danger hidden" id="form-alert"></div>

